<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000"/>
    <meta name="description" content="Free menu catalogue for you">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Axon</title>
</head>
<body>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>آکسون</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">

        </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
        <p> برای وصل کردن آمده است <a href="https://www.svgrepo.com/show/152311/connection.svg" target="_blank" rel="noreferrer">آکسون</a></p>
    </footer>
</body>
</html>